body{
    background-color: pink;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: blue;
    text-align: center;
    text-decoration: underline;
}

class .caja1 {
    align-items: centerS;
}